.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131313;
  padding-top: 62px;
  min-height: 100vh;
  width: 100vw;
}
.perfil {
  display: flex;
  flex-direction: column;
  max-height: 735px;
  overflow: scroll;
  width: 820px;
  padding: 0 1rem;
}
.perfil-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .perfil-section {
    flex-direction: column;
    gap: 1rem;
  }
}
.perfil-header h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #96de37;
}
.perfil-header h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #fff;
}
.perfil-header p {
  font-size: 0.9rem;
  color: grey;
}
.perfil-section button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Montserrat", sans-serif;
  background: none;
  text-transform: uppercase;
  color: #808080;
  height: 2.5rem;
  border: 1px solid;
  border-radius: 25px;
  padding: 0 1rem;
  font-weight: 600;
  cursor: pointer;
}
.perfil-section button:hover {
  background-color: grey;
  color: #131313;
  border-color: transparent;
}
.perfil-section button svg {
  width: 16px;
  height: 16px;
  fill: #808080;
}
.perfil-section button:hover svg {
  fill: #000000;
}
.perfil-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}
@media (max-width: 900px) {
  .perfil-overview {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
  }
}
.overview-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  background-color: #0a0a0a;
  border: 1px solid #272727;
  padding: 1rem 2rem;
  border-radius: 10px;
}
.overview-item h1 {
  font-weight: 900;
  color: #96de37;
}
.overview-item h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #5e5e5e;
}
.divider {
  margin: 2rem 0;
  height: 1px;
  background: linear-gradient(90deg, rgba(150, 222, 55, 0.15), transparent);
  margin-bottom: 1.4rem;
}
.cargando {
  height: calc(100vh - 17rem - 9.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #96de37;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.perfil-pedidos h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #5e5e5e;
  margin-bottom: 0.5rem;
}
.pedidos-categorias {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  list-style: none;
}
.pedidos-categorias li {
  display: flex;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #5e5e5e;
  border-radius: 7px;
}
.pedidos-categorias li h4 {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #5e5e5e;
}
.pedidos-categorias li p {
  font-size: 0.7rem;
  color: #96de37;
  background-color: #96de371e;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.pedidos-categorias li:hover {
  background-color: #96de371e;
  border-color: #96de37;
  cursor: pointer;
}
.pedidos-categorias li:hover h4 {
  color: #96de37;
}
.sin-pedidos {
  font-size: 0.9rem;
  color: #6e6e6e;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
}
.pedidos-lista {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pedido-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0a0a;
  border: 1px solid #272727;
  padding: 1.3rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .pedido-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
}
.pedidos-item:hover {
  background-color: #27272707;
}
.pedido-info h2 {
  font-size: 0.7rem;
  color: #3b3b3b;
  text-transform: uppercase;
}
.pedido-info h1 {
  font-size: 0.9rem;
  text-transform: uppercase;

  color: #fff;
}
.pedido-info p {
  font-size: 0.75rem;
  color: #6e6e6e;
  text-transform: uppercase;
}
.pedido-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 600px) {
  .pedido-total {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}
.pedido-resumen {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pedido-total h3 {
  font-size: 1.2rem;
  color: #96de37;
}
.pedido-total p {
  font-size: 0.75rem;
  color: #6e6e6e;
  text-transform: uppercase;
}
.pedidos-lista svg {
  transition: transform 0.3s ease;
}
.up {
  transform: rotate(180deg);
}
.pedido-detalles {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #0a0a0a;
  border: 1px solid #272727;
  border-top: none;
  padding: 1.3rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pedido-detalles h3 {
  margin-bottom: 0;
}
.pedido-productos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.pedido-productos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2727276b;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid #272727;
}
.pedido-producto-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  h3 {
    font-size: 0.8rem;
    color: #cccccc;
  }
  p {
    font-size: 0.8rem;
    color: #6e6e6e;
  }
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 2.5px;
  }
}
.pedido-producto-precio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.precio-descuento {
  font-size: 0.8rem;
  color: #6e6e6e;
  text-decoration: line-through;
}
.precio {
  font-size: 0.9rem;
  color: #96de37;
  font-weight: 600;
}
.pedido-info-detalles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.pedido-info-detalles div {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background: #2727276b;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid #272727;
  p {
    font-size: 0.8rem;
    color: #b9b9b9;
  }
}
