.prod {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #6d6d6d;
  padding: 3rem 0;
}
.volver {
  display: inline-flex;
  gap: 0.2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #858585;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  padding: 0.6rem;
  border-radius: 10px;
  transition: gap 0.2s ease;
}
.volver::before {
  content: "←";
  font-size: 0.9rem;
  transition: transform 0.2s ease;
}
.volver:hover {
  color: #96de37;
  gap: 0.6rem;
}

.prod-info {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}
.prod-info h1 {
  color: white;
  margin-bottom: 1rem;
}
.prod-desc {
  color: #a1a0a0;

  line-height: 1.7;
  padding-bottom: 2rem;
}
.prod-prices {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cargando {
  height: calc(100vh - 17rem - 9.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #96de37;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.prod-price__disabled {
  text-decoration: line-through;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #6d6d6d;
}
.prod-price {
  color: #96de37;
  font-size: 1.7rem;
  font-weight: 900;
  text-shadow: #96de3781 0px 3px 20px 0px;

  margin-bottom: 1rem;
}
.cats {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 110px 110px 110px 110px;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #6d6d6d;
}
.prod-stock {
  color: #6d6d6d;
}

.noResultados {
  height: calc(100vh - 17rem - 9.75rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noResultados p {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
  padding-bottom: 1rem;
}
.noResultados button {
  background: #a6f33f;
  background: linear-gradient(
    179deg,
    rgba(166, 243, 63, 1) 0%,
    rgba(147, 217, 56, 1) 50%,
    rgba(120, 179, 45, 1) 100%
  );
  color: white;
  padding: 1rem;
  font-size: 15px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition:
    transform 0.3s ease,
    background 0.3s ease;
}
.noResultados button:hover {
  background: #96de37;
  background: linear-gradient(
    179deg,
    rgba(150, 222, 55, 1) 0%,
    rgba(128, 189, 49, 1) 50%,
    rgba(103, 153, 38, 1) 100%
  );
  cursor: pointer;
  cursor: pointer;
  transform: scale(1.04);
}

@media (max-width: 74rem) {
  .cats {
    grid-template-columns: 110px 110px 110px;
  }
}
@media (max-width: 65rem) {
  .cats {
    grid-template-columns: 110px 110px;
  }
}

@media (max-width: 60rem) {
  .prod-info {
    margin-left: 0;
  }
  .cats {
    grid-template-columns: 110px 110px 110px 110px;
  }
  .prod {
    flex-direction: column;
  }
}
@media (max-width: 40rem) {
  .cats {
    grid-template-columns: 110px 110px 110px;
  }
}
@media (max-width: 30rem) {
  .cats {
    grid-template-columns: 110px 110px;
  }
}
.cat__badge {
  text-align: center;
  display: flex;
  width: 110px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #74ac2a;
  background: linear-gradient(
    179deg,
    rgb(141, 207, 53) 0%,
    rgb(110, 161, 42) 50%,
    rgb(93, 138, 36) 100%
  );
  padding: 0.5rem 0.2rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}
.prods-relacionados {
  margin-top: 3rem;
}
.prods-relacionados__header {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.prods-relacionados__header h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}
.prods-relacionados__header p {
  color: #96de37;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}
.prods-relacionados__list {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}
@media (max-width: 105rem) {
  .prods-relacionados__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 70rem) {
  .prods-relacionados__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 51rem) {
  .prods-relacionados__list {
    grid-template-columns: 1fr;
  }
}
.producto {
  display: flex;
  justify-content: center;
  margin: 1rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.producto a {
  text-decoration: none;
  outline: none;
  display: block;
}
.producto a:hover {
  border: 1px solid #598520;
  border-radius: 10px;
}

.producto a:focus {
  outline: none;
}
.producto:hover {
  cursor: pointer;
  transform: scale(1.05);
}
