.banner {
  background:
    linear-gradient(to top, rgba(0, 0, 000, 0.7) 10%, transparent),
    url("../public/images/banner-img.png") center / cover no-repeat border-box;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner-img {
  width: 60vw;
  height: auto;
  object-fit: contain;
  max-width: 1400px;
}
.banner button {
  background: #a6f33f;
  background: linear-gradient(
    179deg,
    rgba(166, 243, 63, 1) 0%,
    rgba(147, 217, 56, 1) 50%,
    rgba(120, 179, 45, 1) 100%
  );
  color: white;
  padding: 1rem;
  font-size: 15px;
  margin-top: 2rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}
.banner button:hover {
  background: #96de37;
  background: linear-gradient(
    179deg,
    rgba(150, 222, 55, 1) 0%,
    rgba(128, 189, 49, 1) 50%,
    rgba(103, 153, 38, 1) 100%
  );
  cursor: pointer;
  cursor: pointer;
  transform: scale(1.04);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 25px;
}
.search {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
}

.why-choose-us {
  background: black;
  color: white;
  padding: 4rem 0;
}

.why-choose-us h1 {
  text-align: center;
  padding-bottom: 3rem;
  color: #96de37;
  font-size: 2.5rem;
}

.why-choose-us__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.why-choose-us__items li {
  padding: 3rem 2rem;
}

.why-choose-us__items li h3 {
  color: #96de37;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  text-align: center;
}

.why-choose-us__highlighted {
  background: #1d1d1d;
  color: white;
  margin: 2rem 0;
}

.why-choose-us__highlighted h3 {
  color: #96de37;
}

.why-choose-us__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.why-choose-us__item p {
  flex: 1;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: justify;
}

.why-choose-us__item img {
  width: 300px;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}
@media (max-width: 60rem) {
  .why-choose-us__item {
    flex-direction: column;
  }
  .why-choose-us__item img {
    width: 80vw;
  }
  .banner-img {
    width: 90vw;
  }
}
