.banner {
  background:
    linear-gradient(to top, rgba(0, 0, 000, 0.7) 10%, transparent),
    url("../public/images/banner-img.png") center / cover no-repeat border-box;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.banner button {
  background: rgba(191, 236, 60, 1);
  background: linear-gradient(
    179deg,
    rgba(191, 236, 60, 1) 0%,
    rgba(158, 194, 50, 1) 50%,
    rgba(114, 138, 41, 1) 100%
  );
  color: white;
  padding: 1rem;
  font-size: 15px;
  margin-top: 2rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
}
.banner button:hover {
  background: #728a29;
  background: linear-gradient(
    179deg,
    rgba(114, 138, 41, 1) 0%,
    rgba(84, 99, 26, 1) 50%,
    rgba(42, 56, 15, 1) 100%
  );
  cursor: pointer;
}
.search {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 100%;
}

.search-bar input,
.search-bar button {
  box-sizing: border-box;
  height: 56px;
  margin: 0;
}

.search-bar input {
  width: 70vw;
  padding: 1rem;
  outline: none;
  border: 1px solid #ddd;
  border-right: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-bar button {
  width: 80px;
  padding: 1rem;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(174, 214, 54);
  cursor: pointer;
}
.search-bar button:hover {
  background: #728a29;
  background: linear-gradient(
    179deg,
    rgba(114, 138, 41, 1) 0%,
    rgba(84, 99, 26, 1) 50%,
    rgba(42, 56, 15, 1) 100%
  );
}
@media (min-widht: 40rem) {
  .search {
    margin: 4rem;
  }
}
.why-choose-us {
}
