.carro {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.agregar-carro {
  margin-top: 0.5rem;
  padding: 0.4rem;
  width: 10rem;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: #96de37;
  background: linear-gradient(
    179deg,
    rgb(141, 207, 53) 0%,
    rgb(110, 161, 42) 50%,
    rgb(93, 138, 36) 100%
  );
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}
.agregar-carro:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 25px;
  z-index: 10;
  background: linear-gradient(
    179deg,
    rgb(119, 177, 44) 0%,
    rgb(101, 148, 39) 50%,
    rgb(76, 112, 28) 100%
  );
  cursor: pointer;
}
