.carro {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.agregar-carro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.8rem 0;
  width: 14rem;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  color: black;
  background: #96de37;
  background: linear-gradient(
    179deg,
    rgba(166, 243, 63, 1) 0%,
    rgba(147, 217, 56, 1) 50%,
    rgba(120, 179, 45, 1) 100%
  );
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 24px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}
.agregar-carro:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 25px;
  z-index: 10;
  background: linear-gradient(
    179deg,
    rgba(150, 222, 55, 1) 0%,
    rgba(128, 189, 49, 1) 50%,
    rgba(103, 153, 38, 1) 100%
  );
  cursor: pointer;
}
