.cant {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 6rem;
  border: 1px solid #141414;
  border-radius: 7px;
  transition: border 0.2s ease;
}
.cant:hover {
  border-color: #5da00075;
}
.cant button {
  background: #141414;
  border: none;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.cant button:hover {
  background: #070c0075;
  cursor: pointer;
}
.inc {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.dec {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.cant p {
  height: 2rem;
  padding-top: 0.3rem;
  width: 2.5rem;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid #353535;
  border-right: 1px solid #353535;
  font-size: 1rem;
  background: #141414;
  color: white;
}
