.filtros {
  align-self: center;
  margin-top: 1rem;
  width: 130px;
}
.filtros-btn {
  padding: 0.7rem;
  background: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #96de37;
  border-radius: 10px;
  cursor: pointer;
}
.filtros-btn:hover {
  background: black;
}
.filtros-menu {
  font-size: 0.8rem;
  list-style: none;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.4rem;
}
.filtro {
  padding: 0.8rem;
  border-radius: 10px;
}
.filtro:hover {
  cursor: pointer;
  background-color: #96de37;
  color: black;
}
