.mobile-categorias,
.mobile-marcas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(43, 43, 43);
  max-width: 230px;
}
.mobile-categorias {
  padding-top: 4rem;
}
.mobile-categorias h2 {
  color: white;
  width: 80%;
  text-align: center;
  margin-bottom: 2rem;
  background-color: #1d1d1d;
  padding: 0.8rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  border-radius: 10px;
  border-left: 5px solid #96de37;
}
.mobile-categorias ul {
  list-style: none;
}
.mobile-filtrar {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 1rem;
  color: white;
  justify-content: center;

  width: 190.65px;
}
.close-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.sectionTitle {
  color: #96de37;
  font-size: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.close-button:hover {
  transform: rotate(90deg);
  background-color: #363636;
  padding: 0.5rem;
  border-radius: 100%;
}
.close-button svg {
  display: block;
}
.mobile-categorias a {
  text-decoration: none;
}
.mobile-marcas a {
  text-decoration: none;
}
