body {
  background-color: #1d1d1d;
}
.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "side hd"
    "side main";
  background-color: #1d1d1d;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  grid-area: hd;
  color: white;
  margin-top: 3.6rem;

  padding: 3rem;
  text-align: center;
  position: relative;
  z-index: 10;
  max-width: calc(1400px - 245px);
}

.side {
  grid-area: side;
  position: fixed;
  width: 25vw;
  max-width: 350px;
  height: calc(100vh - 3.6rem - 9.75rem);
  z-index: 10;
  margin-top: 3.6rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.main {
  grid-area: main;
  position: relative;
  z-index: 1;
  border-left: 2px solid #a6f33f;
  border-top: 2px solid #a6f33f;
  max-width: calc(1400px - 245px);
  min-height: calc(100vh - 17rem - 9.75rem);

  border-top-left-radius: 10px;
  background-color: #444444;
  padding: 2rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.modal {
  background: #1d1d1d;
  position: fixed;
  margin-top: 3.6rem;
  height: calc(100vh - 3.6rem);
  width: 60vw;
  z-index: 20;
  display: flex;
  justify-content: center;
  padding: 3rem;
  max-width: 270px;
  overflow-y: auto;
  overflow-x: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
}
@media (min-width: 1400px) {
  .main {
    border-right: 2px solid #a6f33f;
    border-top-right-radius: 10px;
  }
}
@media (max-width: 52rem) {
  .header {
    border-bottom: 2px solid #96de37;
    box-shadow:
      rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .main {
    border-radius: 0;
    border-left: none;
    min-height: auto;
    height: auto;
  }
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 118px auto;
    grid-template-areas:
      "hd"
      "side"
      "main";
  }
  .side {
    position: static;
    height: 100%;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    justify-content: center;
    align-items: start;
    padding-left: 3rem;
  }
}
@media (min-width: 52rem) {
  .modal,
  .backdrop {
    display: none;
  }
}
@media (min-width: 105rem) {
  .side {
    max-width: 250px;
  }
}
