.productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}
@media (max-width: 105rem) {
  .productos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 70rem) {
  .productos {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 51rem) {
  .productos {
    grid-template-columns: 1fr;
  }
}
.producto {
  display: flex;
  justify-content: center;
  margin: 1rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.producto a {
  text-decoration: none;
  outline: none;
  display: block;
}

.producto a:focus {
  outline: none;
}

.producto a:focus-visible {
  outline: none;
}
.producto:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.indices ul {
  display: flex;
  justify-content: end;
  list-style: none;
}
.indices button {
  background: none;
  border: none;
  margin: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat";
  color: #96de37;
  cursor: pointer;
}
.indices button:hover {
  color: #75ad2c;
}
.active {
  color: white !important;
}
